// out: ../css/main.css, compress: true, strictMath: true

.field {
    width: 800px;
    height: 550px;
    border: 1px solid #000;
    margin: 50px auto; 
    position: relative;
}

.player {
    border-radius: 50%;
    position: absolute;
}

.marker {
    width: 5px;
    height: 5px;
    background: #000;
    position: absolute;
}
